apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: e2e-tests-go-adsgecha-workflow
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/e2e-tests-go-adsgecha-workflow:51149d31d96c5e793dc73275cacb70912fcddd61@sha256:cd593052bb5d069824f1bedb4023ab3e3fd55b23a862e9e00d55dabadad21122
        name: container-image  
